.c1 {
    background-color: #777;

}
.c2 {
    background-color: #888;
    
}

.c3 {
    background-color: #999;
    
}

.c4 {
    background-color: #aaa;
    
}
.c5 {
    background-color: #bbb;
    
}



.container {

    width: 900px
    height: 400px
    margin: 0px auto;
    display: flex;
    flex-direction: column;

}

.content {
    flex: 2;
    display: flex;
}

.footer {
    flex: 1;

}

.menu {
    flex:1;

}

.content-left {
    flex: 2;
    display: flex;
}

* {
    box-sizing:border-box;

}

ul {
    display: flex;
    justify-content: center;
    list-style: nome;
    gap: lepx;
    margin: 30px 10px;
}


