.c1 {
    background-color: #777;
}

.c2 {
    background-color: #888;
}

.c3 {
    background-color: #999;
}

.c4 {
    background-color: #aaa;
}

.c5 {
    background-color: #bbb;
}

/* Container principal */
.container {
    width: 900px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Área de conteúdo */
.content {
    flex: 2;
    display: flex;

}

.footer {
    flex: 1;
}

.menu {
    flex: 1;
    
}

.content-left {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.content-bottom { 
    display: flex;
    flex: 1;
}

.header {
    flex: 1;
    
}

.article {
    flex: 1;
    display: flex;
}



/* Reseta o estilo padrão */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Menu superior */
.top-menu {
    display: flex;
    background-color: fff;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.top-menu li {
    margin: 0 5px;
}

.top-menu li a {
    color: white;
    text-decoration: none;
    background-color: #444;
    padding: 15px 25px;
    border-radius: 3px;
    font-weight: bold;
}

.top-menu li a:hover {
    background-color: #555;
    text-decoration: underline;
}