* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding-top: 70px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}

.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 900px;
    min-width: 600px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
}

.header {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
}

.main {
    display: flex;
    flex-grow: 1;
    background-color: #e0e0e0;
    padding: 10px;
}

.content {
    flex-grow: 1;
    background-color: #ddd;
    padding: 10px;
    margin-right: 10px;
    font-size: 14px;
}

.ads {
    flex-basis: 20%;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.ad {
    background-color: #bbb;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0 0 8px 8px;
}

.content-bottom {
    display: flex;
    flex: 1;
    padding: 10px;
}

.top-menu {
    display: flex;
    justify-content: center;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent; 
}

/* Botões maiores no menu */
.top-menu a {
    text-decoration: none;
    color: white;
    background-color: #444;
    padding: 15px 30px; 
    border-radius: 5px;
    margin: 0 10px;
    font-size: 16px; 
    font-weight: bold;
}

.top-menu a:hover {
    background-color: #555;
}

.menu {
    flex-basis: 20%;
    background-color: #bbb;
    padding: 10px;
}

.menu ul {
    list-style: none;
}

.menu a {
    text-decoration: none;
    background-color: #ccc;
    color: black;
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
}