body{
    margin:auto;
    padding:auto;
    text-align: center;
    max-width: 700px;
    font-family: 'Roboto', sans-serif;
}


h1{
    text-align: center;
    letter-spacing: 0.3em;
    font-weight: normal;
    text-transform: uppercase;
}


.grid-container{
    display:grid;
    grid-column-gap: 1px; 
    width: 560px;
    height: 578px;
    grid-template-columns: auto auto auto auto auto auto auto auto ; 
    border: 8px solid #cccccc;
    margin-left: 80px;
}


/* Pinta os blocos */
.line-1 div:nth-child(2n+1){
    background: rgb(16, 15, 70);
}


/* Pinta os blocos */
.line-2 div:nth-child(2n){
    background: rgb(16, 15, 70);
}



div {
    height: 70px;
    position: relative;
}

.content-bottom { 
    display: flex;
    flex: 1;
}

* {
    box-sizing: border-box;

}

/* Menu superior */
.top-menu {
    display: flex;
    background-color: fff;
    justify-content: center;
    list-style: none;
    margin-bottom: 30px;
}

.top-menu li {
    margin: 0 5px;
}

.top-menu li a {
    color: fff;
    text-decoration: none;
    background-color: #444;
    padding: 15px 25px;
    border-radius: 3px;
    font-weight: bold;
}

.top-menu li a:hover {
    background-color: #555;
}

