body{
    margin:auto;
    padding:auto;
    text-align: center;
    max-width: 700px;
    font-family: 'Roboto', sans-serif;
}


/* Ajusta o título, alinhamento, espaço entre as letras e tipo de font*/
h1{
    text-align: center;
    letter-spacing: 0.3em;
    font-weight: normal;
    text-transform: uppercase;
}

.content-bottom { 
    display: flex;
    flex: 1;
}

/* Define o tamanho e posicionamento do grid, espaçamento das colunas, expessura e bor da borda */
.grid-container{
    display:grid;
    grid-column-gap:1px; /*Define o espaço entre as colunas*/
    width: 560px;
    height: 560px;/*Define o tamanho do container*/
    grid-template-columns: auto auto auto auto auto auto auto auto ; /*Divide o grid-container em 8 colunas*/
    border: 10px solid #cccccc;
    margin-left: 70px;
}


/* Pinta os blocos */
.line-1 div:nth-child(2n+1){
    background: rgb(11, 17, 44);
}


/* Pinta os blocos */
.line-2 div:nth-child(2n){
    background:  rgb(11, 17, 44);
}


/* Define o tamanho dos blocos */
div {
    height: 70px;
    position: relative;
}




