body {
    margin: auto;
    padding: auto;
    text-align: center;
    max-width: 700px;
    font-family: 'Roboto', sans-serif;
}

/* Ajusta o título, alinhamento, espaço entre as letras e tipo de fonte */
h1 {
    text-align: center;
    letter-spacing: 0.3em;
    font-weight: normal;
    text-transform: uppercase;
}

/* Define o tamanho e posicionamento do grid, espaçamento das colunas, espessura e borda */
.grid-container {
    display: grid;
    grid-column-gap: 1px; /* Define o espaço entre as colunas */
    width: 280px; /* Ajusta para que o tabuleiro seja menor */
    height: 289px; /* Define o tamanho do container menor */
    grid-template-columns: repeat(8, auto); /* Divide o grid-container em 8 colunas */
    border: 4px solid #cccccc;
    margin: 0 auto; /* Centraliza o tabuleiro na tela */
}

/* Pinta os blocos */
.line-1 div:nth-child(2n+1) {
    background: rgb(16, 15, 70);
}

/* Pinta os blocos */
.line-2 div:nth-child(2n) {
    background: rgb(16, 15, 70);
}

/* Define o tamanho dos blocos */
.grid-container div {
    height: 35px; /* Diminui o tamanho dos blocos para manter o tabuleiro pequeno */
    width: 35px; /* Diminui a largura dos blocos */
    position: relative;
}

.content-bottom {
    display: flex;
    flex: 1;
}

* {
    box-sizing: border-box;
}

/* Menu superior */
.top-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 30px;
}

.top-menu li {
    margin: 0 5px;
}

.top-menu li a {
    color: #fff; /* Corrige a cor do texto para branco */
    text-decoration: none;
    background-color: #444;
    padding: 15px 25px;
    border-radius: 3px;
    font-weight: bold;
}

.top-menu li a:hover {
    background-color: #555;
}