* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding-top: 50px; /* Para garantir que o conteúdo abaixo não fique atrás do top-menu */
    display: flex;
    justify-content: center; /* Centraliza o contêiner principal horizontalmente */
    align-items: center; /* Centraliza verticalmente, mas depende do conteúdo */
    min-height: 100vh; /* Garante que o body ocupe pelo menos 100% da altura da janela */
}

.container {
    display: flex;
    flex-direction: column;
    width: 60%; /* Define uma largura menor para o contêiner principal */
    max-width: 900px; /* Limita a largura máxima do contêiner */
    min-width: 600px; /* Limita a largura mínima do contêiner */
    background-color: #fff; /* Adiciona fundo branco ao contêiner principal */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra para destaque */
    border-radius: 8px; /* Adiciona cantos arredondados */
    padding: 20px; /* Espaçamento interno */
    margin: 20px auto; /* Garante que ele fique no centro */
}

.header {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px 8px 0 0; /* Arredondando apenas os cantos superiores */
}

.main {
    display: flex;
    flex-grow: 1;
    background-color: #e0e0e0;
    padding: 10px;
}

.content {
    flex-grow: 1;
    background-color: #ddd;
    padding: 10px;
    margin-right: 10px;
    font-size: 14px;
}

.ads {
    flex-basis: 20%;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.ad {
    background-color: #bbb;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0 0 8px 8px; /* Arredondando apenas os cantos inferiores */
}

.content-bottom {
    display: flex;
    flex: 1;
    padding: 10px;
}

/* Menu superior fixo */
.top-menu {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 5px;
    position: fixed; /* Torna o menu fixo no topo */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Garante que o menu fique acima do conteúdo */
}

.top-menu a {
    text-decoration: none;
    color: white;
    background-color: #444;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 14px;
}

.top-menu a:hover {
    background-color: #555;
}

.menu {
    flex-basis: 20%;
    background-color: #bbb;
    padding: 10px;
}

.menu ul {
    list-style: none;
}

.menu a {
    text-decoration: none;
    background-color: #ccc;
    color: black;
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
}