
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}



.header {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.main {
    display: flex;
    flex-grow: 1;
    background-color: #e0e0e0;
}


.content {
    flex-grow: 1;
    background-color: #ddd;
    padding: 20px;
}

.ads {
    flex-basis: 20%;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.ad {
    background-color: #bbb;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.content-bottom { 
    display: flex;
    flex: 1;
}


* {
    box-sizing: border-box;

}

/* Menu superior */
.top-menu {
    display: flex;
    background-color: fff;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    

}

.top-menu li {
    margin: 0 5px;
}

.top-menu li a {
    color: fff;
    text-decoration: none;
    background-color: #444;
    padding: 15px 25px;
    border-radius: 3px;
    font-weight: bold;
    position: relative;
}

.top-menu li a:hover {
    background-color: #555;
}

.top-menu ul {
     position: relative;
}
.menu {
    flex-basis: 20%;
    background-color: #bbb;
    padding: 20px;
}

.menu ul {
    list-style: none;
}

.menu a {
    text-decoration: none;
    background-color: #ccc;
    color: black;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    text-align: center;
}
